<app-header [title]="list.name">
  <app-add-button slot="end" [routerLink]="['/add-item', list.docId]"></app-add-button>
  <app-edit-button slot="end" [routerLink]="['/edit-list', list.docId]"></app-edit-button>
  <app-delete-button slot="end" [type]="deleteButtonType" [docId]="list.docId"></app-delete-button>
</app-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{list.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-item-in-list *ngFor="let item of filterUncheckedItems()" [item]="item"></app-item-in-list>
  </ion-list>

  <div (click)="toggleCheckedItems()">
    <ion-icon [name]="areCheckedItemsShown ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
    Checked items
  </div>
  <ion-list *ngIf="areCheckedItemsShown">
    <app-item-in-list *ngFor="let item of filterCheckedItems()" [item]="item"></app-item-in-list>
  </ion-list>

</ion-content>