<app-header title="Add Item"></app-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitItemForm()">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="item.name" name="item_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Due Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" (ionChange)="updateDueDate($event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input type="text" [(ngModel)]="item.note" name="item_note"></ion-input>
    </ion-item>
    <ion-button [disabled]="!item.name" type="submit">Create item</ion-button>
  </form>
</ion-content>