<app-header title="Edit Item"></app-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="submitUpdateItemForm()">
    <div class="list-row">
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="item.name" name="item_name"></ion-input>
    </div>
    <div class="list-row">
      <ion-label>Due Date</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="item.due_date" name="item_due"></ion-datetime>
    </div>
    <div class="list-row">
      <ion-label class="note-label">Note</ion-label>
      <ion-textarea auto-grow="true" [(ngModel)]="item.note" name="item_note"></ion-textarea>
    </div>
    <ion-button [disabled]="!item.name" type="submit">Update item</ion-button>
    <ion-button (click)="deleteItem()">Delete item</ion-button>
  </form>
</ion-content>