<div class="list-row">
  <ion-checkbox [(ngModel)]="item.completed"></ion-checkbox>
  <ion-label class="label-clickable" [routerLink]="['/item', listDocId, item.docId]">{{item.name}}</ion-label>
  <div slot="end" class="row-flex-container" *ngIf="item.due_date"
    [ngClass]="itemService.isDateOverdue(item.due_date) ? 'text-danger' : 'text'">
    <ion-icon name="calendar"></ion-icon>
    <p>{{ item.due_date | date }}</p>
  </div>
  <app-settings-button (click)="showItemSettingsPopover($event)"></app-settings-button>
</div> <!-- TODO can use ion-item?-->