<app-header title="Lists"></app-header>

<ion-content [fullscreen]="true">
  <app-add-fab routerLink="/add-list"></app-add-fab>

  <ng-container *ngIf="listsObservable | async as lists">
    <div class="text" *ngIf="lists.length === 0; else content">
      You haven't created to do lists
    </div>

    <ng-template #content>
      <ion-list>
        <div class="list-row" *ngFor="let list of lists">
          <ion-label class="label-clickable" tappable [routerLink]="['/list', list.docId]">{{list.name}}</ion-label>
          <app-settings-button (click)="showListSettingsPopover($event, list.docId)"></app-settings-button>
        </div>
      </ion-list>
    </ng-template>
  </ng-container>

</ion-content>